<%= @group.name %>

<% if @group.description.present? %>
  <p><%= @group.description %></p>
<% end %>

<% unless @group.users.include?(current_user) %>
  <%= button_to "Join Group", group_memberships_path(@group), method: :post %>
<% else %>
  <%= "You are a member of this group" %>
<% end %>

<%= "Posts in this group:" %>

<% if @posts.present? %>
  <ul>
    <% @posts.each do |post| %>
      <li>
        <%= link_to post.body.truncate(40), post %>
      </li>
    <% end %>
  </ul>
<% end %>
<%= link_to "New Post in this Group", new_post_path(group_id: @group.id) %>
