<p>
  <strong><%= "Message:" %></strong><br>
  <%= @post.body %>
</p>

<% if @post.images.attached? %>
  <p><strong>Images:</strong></p>

  <% @post.images.each do |image| %>
    <%= image_tag image, size: "500x500" %>
  <% end %>
<% end %>

<% groups = @post.groups.order(:name) %>
<% if groups.any? %>
  <p>
    <strong><%= "Sent to:" %></strong>
    <%= groups.map(&:name).join(", ") %>
  </p>
<% end %>

<p>
  <%= link_to "Back", posts_path %>
</p>
